<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTHENTICATION</title>
</head>
<body>
  <form action="/"method="POST">
{%csrf_token%}
<h3>send otp auth </h3><hr>

name:
<input type="text" name="name" required>
<br>
number:
<input type="text" name="phone" placeholder=" +254 ........" required>
<br>

<input type="submit" value="submit">




  </form>




    
</body>
</html>
